{{! sidebar }}

<div class="gxx_sidebtn{{^is "post"}} gxx_sidebtn_on{{/is}}"><i class="gxxicon-top"></i></div>
<div class="gxx_sidebar">
    {{> custom/owner}}
    <div class="gxx_sidebar_i">
        <div class="gxx_sidebar_i_t">热门标签</div>
        <div class="gxx_sidebar_i_b">
            {{#get "tags" limit="30" filter="name:-'笔记'+name:-'作品'+name:-'杂货'" include="count.posts" order="count.posts desc"}}
                {{#foreach tags}}
                    <a href="/tag/{{slug}}">{{name}}</a>
                {{/foreach}}
            {{/get}}
        </div>
    </div>
    <!--
    <div class="gxx_sidebar_i">
        <div class="gxx_sidebar_i_t">最新评论</div>
        <div class="gxx_sidebar_i_l" id="GxxRecentComments">
        </div>
    </div>
    -->
</div>