@charset "utf-8";

@import "mixin";
@import "variables";
@import "animate";
@import "font";

/**
 * 官方样式
 * 改动：
 * fonts 文件夹改为 font
 */
@import "casper";

/**
 * 代码高亮
 */
@import "codestyle";

/**
 * 样式修正
 */
html{
    background:$base-bgcolor;
    color:$base-fontcolor;
}
body{
    background:$base-bgcolor;
    font-family:$base-fontfamily;
    padding-top:$framework-header-height;
    text-rendering:auto;
}
div{
    position: relative;
}
li,ol{
    list-style:none;
}
img,a img{
    border:0;
}
input,textarea,select{
    outline:none;
}
input[type="text"],input[type="search"]{
    line-height:normal !important;
}
/**
 * loop
 */
.site-wrapper{
    margin-left:250px;
    transition:all $animate-speed;
}
.post{
    width:80%;
    max-width:2000px;
    transition:all $animate-speed;
}
.post-meta{
    font-size:1.3rem;
}
body:not(.post-template){
    .post-title {
        font-size: 3.0rem;
    }
    .site-wrapper{
        margin-top:-20px;
    }
}
.post-template{
    .content{
        margin-top:30px;
    }
    blockquote{
        margin-left: -1.3em;
        padding-left: 0.85em;
    }
    .post{
        .post-title{
            margin-bottom:4px;
        }
        .post-date{
            margin-left:6px;
            padding-left:6px;
            border-left: #d5dbde 1px solid;
        }
    }
    .post-footer{
        padding:0;
    }
}
.extra-pagination{
    width:80%;
    max-width:2000px;
}
.post-footer .author{
    margin-right:280px;
}
.post-footer .share{
    width:240px;

    a{
        margin:1rem 0.5rem 1rem 0;
    }
}
.poweredby{
    margin-right:4%;
}
.copyright{
    margin-left:4%;
}
.bdanly{
    a,a:hover{
        img{
            width:10px;
            height:10px;
        }
    }
}

/**
 * GxxGhost模板样式
 */
.gxx_header{
    position:fixed;
    left:0;
    top:0;
    z-index:100;
    width:100%;
    text-align:center;
    overflow:hidden;
    height:$framework-header-height;
    line-height:$framework-header-height;
    background:$framework-header-bg;
    color:$framework-header-color;
    border-bottom:$framework-header-border;
    transition:all $animate-speed;
}
.gxx_header_con{
    margin:0 auto;
    width:100%;
    max-width:$base-maxwidth;
}
.gxx_stitle{
    float:left;
}
.gxx_sname{
    float:left;
    font-family: 'Poiret One', cursive;
    font-size:$framework-header-namesize;
    height:($framework-header-height - 20px)/2;
    line-height:($framework-header-height - 20px)/2;
    margin-top:18px;
    transition:all $animate-speed;
}
.gxx_ssign{
    float:left;
    clear:left;
    font-family: 'Poiret One', cursive;
    font-size:$framework-header-signsize;
    height:($framework-header-height - 20px)/2;
    line-height:($framework-header-height - 20px)/3;
    transition:all $animate-speed;
}
.gxx_search{
    float:left;
    margin-top:($framework-header-height - $framework-search-height) / 2;
    margin-left:40px;
    width:$framework-search-width;
    height:$framework-search-height;
    overflow:hidden;
    transition:all $animate-speed;

    i{
        position:absolute;
        top:0;
        left:0;
        z-index:9;
        text-align:center;
        width:$framework-search-height;
        height:$framework-search-height;
        line-height:$framework-search-height;
        color:$framework-search-color;
        font-size:$framework-search-fontsize + 2px;
        transition:all $animate-speed;
        opacity:0.5;
    }
    input[type="search"],input[type="text"]{
        position:absolute;
        top:0;
        left:0;
        z-index:8;
        box-sizing:border-box;
        font-size:$framework-search-fontsize;
        background:$framework-search-bg;
        border:none;
        color:$framework-search-color;
        padding-left:$framework-search-height - 4px;
        width:$framework-search-width;
        height:$framework-search-height !important;
        border-radius:$framework-search-height / 2;
        color:$framework-search-color;
        opacity:0.5;
        transition:all $animate-speed;
    }
    input[type="search"]::-webkit-input-placeholder,input[type="text"]::-webkit-input-placeholder{
        line-height:1.2;
        color:$framework-search-color;
    }
    input[type="search"]:hover,
    input[type="search"]:focus,
    input[type="text"]:hover,
    input[type="text"]:focus,
    input[type="search"]:hover + i,
    input[type="search"]:focus + i,
    input[type="text"]:hover + i,
    input[type="text"]:focus + i{
        opacity:0.9;
    }
    input[type="submit"],input[type="button"]{
        display:none;
    }
}
.gxx_nav{
    float:right;
    vertical-align:top;
    line-height:$framework-header-height;

    a{
        display:inline-block;
        text-decoration:none;
        height:$framework-header-height;
        font-size:$framework-nav-fontsize;
        color:$framework-nav-color;
        background:$framework-nav-bg;
        padding:0 $framework-nav-padding;
        transition:all $animate-speed;
    }
    a:link,a:visited,a:active{
        text-decoration:none;
        color:$framework-nav-color;
    }
    a:hover{
        text-decoration:none;
        color:$framework-nav-color;
        background:$framework-nav-bg-on;
    }
    i{
        display:inline-block;
        width:1px;
        height:$framework-nav-line;
        background:rgba(255,255,255,0.3);
        margin-top:($framework-header-height - $framework-nav-line) / 2;
    }
}

.gxx_fixheader{
    height:$framework-header-fixheight;
    .gxx_sname{
        font-size:$framework-header-fixnamesize;
        height:$framework-header-fixheight;
        line-height:$framework-header-fixheight;
        margin-top:0;
    }
    .gxx_ssign{
        margin-left:-100px;
        opacity:0;
    }
    .gxx_search{
        margin-top:($framework-header-fixheight - $framework-search-fixheight) / 2;
        height:$framework-search-fixheight !important;

        i{
            width:$framework-search-fixheight;
            height:$framework-search-fixheight;
            line-height:$framework-search-fixheight;
            font-size:$framework-search-fixfontsize;
        }
        input[type="search"],input[type="text"]{
            padding-left:$framework-search-fixheight - 2px;
            height:$framework-search-fixheight;
            border-radius:$framework-search-fixheight / 2;
            font-size:$framework-search-fixfontsize;
        }
        input[type="search"]::-webkit-input-placeholder,input[type="text"]::-webkit-input-placeholder{
            line-height:1.4;
            color:$framework-search-color;
        }
    }
    .gxx_nav{
        line-height:$framework-header-fixheight;

        a{
            display:inline-block;
            height:$framework-header-fixheight;
            font-size:$framework-nav-fixfontsize;
            padding:0 $framework-nav-fixpadding;
        }
        i{
            display:none;
            margin-top:($framework-header-fixheight - $framework-nav-line) / 2;
        }
    }
}

.gxx_frame{
    width:100%;
}
.gxx_frame_con{
    margin:0 auto;
    width:100%;
    max-width:$base-maxwidth;
}

.gxx_sidebtn{
    position:absolute;
    left:10px;
    top:30px;
    z-index:99;
    width:30px;
    height:30px;
    line-height:30px;
    text-align:center;
    border-radius:15px;
    font-size:18px;
    cursor:pointer;
    background:#ffffff;
    color:#dddddd;
    transform:rotate(-90deg);
    transition:all $animate-speed;
}

.gxx_sidebar{
    float:left;
    margin-top:18px;
    width:$framework-sidebar-width;
    overflow:hidden;
    transition:all $animate-speed;
}
.gxx_sidebar_i{
    float:left;
    margin-bottom:8px;
    width:$framework-sidebar-width - 2px;
    background:$framework-sidebar-bg;
    border:$framework-sidebar-border;
    border-radius:$framework-sidebar-radius;
    text-align:center;
    overflow:hidden;
}
.gxx_myface{
    display:inline-block;
    width:$framework-sidebar-facesize;
    height:$framework-sidebar-facesize;
    border-radius:$framework-sidebar-facesize / 2;
    overflow:hidden;
    margin-top:13px;
}
.gxx_myname{
    display:inline-block;
    width:100%;
    line-height:$framework-sidebar-nameheight;
    font-size:$framework-sidebar-namesize;

    span{
        font-size:$framework-sidebar-signsize;
    }
}

.gxx_mycontact{
    display:inline-block;
    width:100%;
    height:$framework-sidebar-iconsize;
    vertical-align:top;
    margin:4px auto 16px;

    a{
        display:inline-block;
        text-decoration:none;
        width:$framework-sidebar-iconsize;
        height:$framework-sidebar-iconsize;
        border-radius:$framework-sidebar-iconsize / 2;
        line-height:$framework-sidebar-iconsize;
        font-size:$framework-sidebar-iconsize / 1.8;
        color:$framework-sidebar-iconcolor;
        opacity:$framework-sidebar-opacity;
        transform:scale(0.9,0.9);
        transition:all 0.2s;
    }
    a:link,a:visited,a:active{
        text-decoration:none;
        color:$framework-sidebar-iconcolor;
    }
    a:hover{
        text-decoration:none;
        color:$framework-sidebar-iconcolor;
        opacity:$framework-sidebar-opacity-on;
        transform:scale(1,1);
    }
    .gxxicon-mail{
        background:#F67F00;
    }
    .gxxicon-qq{
        background:#7AC9ED;
    }
    .gxxicon-wechat{
        background:#44B549;
    }
    .gxxicon-weibo{
        background:#E6162D;
    }
    .gxxicon-github{
        background:#91C661;
    }
    .gxxicon-facebook{
        background:#36518A;
    }
}

.gxx_summary{
    display:inline-block;
    width:100%;
    text-align:center;
    vertical-align:top;

    dl{
        float:left;
        margin:0;
        padding:0;
        display:inline-block;
        width:33%;
        text-align:center;
        overflow:hidden;
        border-right:1px solid #f5f5f5;
        box-sizing:border-box;

        dt{
            float:none;
            margin:0;
            padding:0;
            width:100%;
            text-align:center;
            height:$framework-sidebar-title-height;
            line-height:$framework-sidebar-title-height + 4px;
            font-size:$framework-sidebar-title-fontsize;
            font-weight:normal;
        }
        dd{
            float:none;
            margin:0;
            padding:0;
            width:100%;
            text-align:center;
            height:$framework-sidebar-title-height;
            line-height:$framework-sidebar-title-height;
            font-size:$framework-sidebar-title-fontsize - 4px;
            font-weight:normal;
            background:#ffffff;
            border-top:1px solid #dddddd;
        }
    }
    dl:nth-child(2n){
        width:34%;
    }
    dl:nth-child(3n){
        border-right:none;
    }
}

.gxx_sidebar_i_t{
    display:inline-block;
    width:100%;
    box-sizing:border-box;
    height:$framework-sidebar-title-height;
    line-height:$framework-sidebar-title-height + 4px;
    text-align:left;
    font-size:$framework-sidebar-title-fontsize;
    color:$framework-sidebar-title-fontcolor;
    padding:0 12px;
}
.gxx_sidebar_i_b{
    display:inline-block;
    width:100%;
    box-sizing:border-box;
    text-align:left;
    padding:12px;
    background:#ffffff;
    border-top:1px solid #dddddd;

    a{
        text-decoration:none;
        color:#666666;
        font-size:14px;
        padding:1px 1px;
        white-space:nowrap;
    }
    a:link,a:visited,a:active{
        text-decoration:none;
        color:#666666;
    }
    a:hover{
        color:#333333;
        text-decoration:underline;
    }
    a:nth-child(8n+1){
        font-size:12px;
    }
    a:nth-child(8n+2){
        font-size:20px;
    }
    a:nth-child(8n+3){
        font-size:14px;
    }
    a:nth-child(8n+4){
        font-size:18px;
    }
    a:nth-child(8n+5){
        font-size:22px;
    }
    a:nth-child(8n+6){
        font-size:13px;
    }
    a:nth-child(8n+7){
        font-size:16px;
    }
    a:nth-child(8n+8){
        font-size:16px;
    }
    a:nth-child(3n+2){
        transform:scale(1.2,1.2);
    }
}
.gxx_sidebar_i_l{
    display:inline-block;
    width:100%;
    box-sizing:border-box;
    text-align:left;
    padding:12px;
    background:#ffffff;
    border-top:1px solid #dddddd;
}

/* 多说评论 */
.ds-recent-comments{
    li.ds-comment{
        list-style-type: none;
        position: relative !important;
        margin: 0 !important;
        padding: 0 !important;
        border-top: 1px dotted #eeeeee !important;
        word-wrap: break-word;
        font-size: 14px;

        .ds-meta{
            position:relative;
            width:100%;
            height:24px;
            line-height:24px;
            color:#666666;
            font-size:14px;

            .ds-time{
                position:absolute;
                right:0;
                top:0;
                height:24px;
                line-height:24px;
                color:#cccccc !important;
                font-size:12px !important;
            }
        }
        .ds-thread-title{
            font-size:12px !important;
            line-height:18px !important;
            color:#666666;

            a{
                display:inline-block !important;
                max-width:150px;
                overflow:hidden;
                white-space:nowrap;
                text-overflow:ellipsis;
                text-decoration:none;
                vertical-align:bottom !important;
                font-size:12px !important;
                line-height:18px !important;
                color:#666666;
            }
            a:before{
                content: "《";
            }
            a:after{
                content: "》";
            }
            a:link,a:visited,a:active{
                color:#666666;
                text-decoration:none;
            }
            a:hover{
                text-decoration:underline;
            }
        }
        .ds-thread-title:after{
            content:":";
        }
        .ds-excerpt{
            line-height:18px !important;
            font-size:12px !important;
        }
    }
    li.ds-comment:first-child{
        border-top:none !important;
    }
}
#ds-reset{
    .ds-meta{
        border-bottom:#EBF2F6 1px solid !important;
    }
    .ds-comments{
        border-bottom:#EBF2F6 1px solid !important;
    }
    .ds-post{
        border-top:#EBF2F6 1px solid !important;
    }
}

.gxx_body{
    margin-left:$framework-sidebar-width + 30px;
    transition:all $animate-speed;
}

.gxx_footer{
    width:100%;
    height:$framework-footer-height;
    line-height:$framework-footer-height;
    margin-top:10px;
    border-top:$framework-footer-border;
    text-align:center;
    background:$framework-footer-bg;
}

.gxx_floatlayer{
    position:fixed;
    bottom:20%;
    right:10px;
    z-index:100;
    width:48px;
}
.gxx_themeselector{
    float:left;
    list-style:none;
    margin:0;
    padding:0;

    li{
        float:left;
        list-style:none;
        margin:0;
        padding:0;
        display:none;
        box-sizing:border-box;
        margin-bottom:2px;
        background:$framework-floatlayer-btnbg;
        text-align:center;
        width:$framework-floatlayer-btnheight;
        height:$framework-floatlayer-btnheight;
        line-height:$framework-floatlayer-btnheight;
        color:$framework-floatlayer-btncolor;
        cursor:pointer;

        i{
            font-size:$framework-floatlayer-btnsize;
        }
    }
    li.gxx_theme_btn{
        display:block;
    }
    li.gxx_theme_selected{
        i{
            font-size:$framework-floatlayer-btnsize+4px;
        }
    }
}
.gxx_themeselector:hover{
    li{
        display:block;
    }
    li.gxx_theme_btn{
        display:none;
    }
}

.gxx_gotopbtn{
    display:none;
    float:left;
    cursor:pointer;
    background:$framework-floatlayer-btnbg;
    text-align:center;
    width:$framework-floatlayer-btnheight;
    height:$framework-floatlayer-btnheight;
    line-height:$framework-floatlayer-btnheight;
    color:$framework-floatlayer-btncolor;
    font-size:$framework-floatlayer-btnsize;
}
.gxx_gotopbtn:link,.gxx_gotopbtn:visited,.gxx_gotopbtn:active,.gxx_gotopbtn:hover{
    color:$framework-floatlayer-btncolor;
    text-decoration:none;
}

/**
 * 样式
 */
.gxx_theme_1{
    @include themeByColor(#292F36);
}
.gxx_theme_2{
    @include themeByColor(#006838);
}
.gxx_theme_3{
    @include themeByColor(#026190);
}
.gxx_theme_4{
    @include themeByColor(#6f0303);
}
.gxx_themeselector{
    .gxx_theme_1_btn{
        background:#292F36;
    }
    .gxx_theme_2_btn{
        background:#006838;
    }
    .gxx_theme_3_btn{
        background:#026190;
    }
    .gxx_theme_4_btn{
        background:#6f0303;
    }
}

/**
 * 隐藏sidebar
 */
.gxx_hidesidebar{
    .gxx_sidebtn{
        left:0;
        background:#f5f5f5;
        color:#dddddd;
        transform:rotate(90deg);
    }
    .gxx_sidebar{
        margin-left:-280px;
        opacity:0;
    }
    .gxx_body{
        margin-left:0;
    }
    .site-wrapper{
        margin-left:0;
    }
    .post{
        width:80%;
    }
}