@charset "utf-8";

/* ==========================================================================
    Variables
   ========================================================================== */


$base-bgcolor:#f5f8f9;
$base-fontcolor:#565a5f;
$base-fontfamily:'Hiragino Sans GB',Helvetica,Arial,'Microsoft Yahei',sans-serif;
$base-maxwidth:1200px;
$base-shadow:0px 1px 3px rgba(0,0,0,0.1);

$theme-maincolor:#38B7EA;

/* animate */
$animate-speed:250ms;

/* framework */
$framework-header-height:70px;
$framework-header-fixheight:40px;
$framework-header-bg:#ffffff;
$framework-header-fixbg:#ffffff;

$framework-search-width:240px;
$framework-search-height:32px;
$framework-search-fixheight:26px;

$framework-nav-fontsize:18px;
$framework-nav-fixfontsize:16px;
$framework-nav-padding:20px;
$framework-nav-fixpadding:10px;

$framework-footer-bg:#ffffff;
$framework-footer-border:1px solid #dddddd;

$framework-sidebar-width:22%;

$framework-content-width:100% - $framework-sidebar-width;


$framework-sidebar-facesize:50%;
$framework-sidebar-namesize:20px;
$framework-sidebar-namecolor:$base-fontcolor;
$framework-sidebar-signsize:14px;
$framework-sidebar-signcolor:lighten($base-fontcolor,10%);
$framework-sidebar-iconsize:28px;
