@charset "utf-8";

/* functions */
@function strip-units($number){
  @return $number / ($number * 0 + 1);
}

/* variables */
$base-bgcolor:#ffffff;
$base-frontcolor:#000000;
$base-fontcolor:lighten($base-frontcolor,20%);
$base-fontfamily:Helvetica;
$base-fontsize:14px;
$base-maxwidth:1200px;

$theme-maincolor:#292F36;

/* animate */
$animate-opacity-from:0;
$animate-speed:200ms;

/* framework */
$framework-header-height:90px;
$framework-header-fixheight:40px;
$framework-header-bg:$theme-maincolor;
$framework-header-color:#ffffff;
$framework-header-fontsize:36px;
$framework-header-border:none;
$framework-header-namesize:24px;
$framework-header-fixnamesize:18px;
$framework-header-signsize:14px;
$framework-header-fixsignsize:14px;
$framework-header-eyecolor:#333333;

$framework-search-width:240px;
$framework-search-height:32px;
$framework-search-fixheight:26px;
$framework-search-bg:rgba(255,255,255,0.4);
$framework-search-fontsize:14px;
$framework-search-fixfontsize:12px;
$framework-search-color:#f5f5f5;

$framework-nav-fontsize:18px;
$framework-nav-color:#ffffff;
$framework-nav-bg:rgba(0,0,0,0);
$framework-nav-padding:20px;
$framework-nav-bg-on:rgba(0,0,0,0.15);
$framework-nav-line:12px;
$framework-nav-fixfontsize:14px;
$framework-nav-fixpadding:10px;

$framework-footer-height:22px;
$framework-footer-bg:#f5f5f5;
$framework-footer-border:1px solid #dddddd;
$framework-footer-fontsize:12px;
$framework-footer-color:#666666;

$framework-sidebar-width:250px;
$framework-sidebar-bg:#f5f5f5;
$framework-sidebar-border:1px solid #dddddd;
$framework-sidebar-radius:4px;

$framework-sidebar-facesize:86px;
$framework-sidebar-facesize:86px;
$framework-sidebar-nameheight:24px;
$framework-sidebar-namesize:14px;
$framework-sidebar-signsize:14px;
$framework-sidebar-iconsize:26px;
$framework-sidebar-bg:#f5f5f5;
$framework-sidebar-iconcolor:#ffffff;
$framework-sidebar-opacity:0.6;
$framework-sidebar-opacity-on:1;

$framework-sidebar-title-height:36px;
$framework-sidebar-title-fontsize:16px;
$framework-sidebar-title-fontcolor:#333333;

$framework-sidebar-list-height:30px;
$framework-sidebar-list-fontsize:14px;
$framework-sidebar-list-fontcolor:#666666;
$framework-sidebar-list-fontcolor-on:#333333;

$framework-floatlayer-btnheight:48px;
$framework-floatlayer-btnbg:#f5f5f5;
$framework-floatlayer-btncolor:#cccccc;
$framework-floatlayer-btnsize:18px;
